## Pruebas 2. Analisis de la clasificación de anotaciones patológicas indefinidas de datos adquiridos por MSI de muestras de tejido cancerígeno.
Explicación detallada en la memoria del TFG: APLICACION BASADA EN RED NEURONAL PARA DETERMINAR AUTOMATICAMENTE REGIONES CANCERÍGENAS EN MUESTRAS DE TEJIDO DE CÁNCER COLORRECTAL DETERMINADAS POR MSI.

Autor: Alejandro Gallar

Tutor: Pere Ràfols

Grado: Ingeniería biomédica

#### Importación de los datos

In [1]:
import pandas as pd
import pyreadr as pr
import numpy as np
from sklearn import metrics
from sklearn.utils import shuffle
from sklearn.preprocessing import MinMaxScaler

In [2]:
def dataRead(dataframe):
    i = 0
    ret = []
    for x in dataframe:
        ret.append(pr.read_r('C:/Users/Alejandro/Desktop/4.2/TFG/myairbridge-UNJOFrwam/' + x)[None])
        i = i + 1
    return ret

In [3]:
paths_intensities = ['CRC1-4_a$/CRC1-4_a$intensity.rds','CRC1-4_b$/CRC1-4_b$intensity.rds','CRC3-a$/CRC3-a$intensity.rds', 
         'CRC3-b$/CRC3-b$intensity.rds','CRC4-a$/CRC4-a$intensity.rds','CRC12-b$/CRC12-b$intensity.rds',
         'CRC5-a$/CRC5-a$intensity.rds','CRC5-b$/CRC5-b$intensity.rds','CRC6-b$/CRC6-b$intensity.rds','CRC6-a$/CRC6-a$intensity.rds',
         'CRC7-a$/CRC7-a$intensity.rds','CRC7-b$/CRC7-b$intensity.rds','CRC8-3_b$/CRC8-3_b$intensity.rds',
         'CRC9-b$/CRC9-b$intensity.rds','CRC10-a$/CRC10-a$intensity.rds',
         'CRC10-b$/CRC10-b$intensity.rds','CRC11-a$/CRC11-a$intensity.rds','CRC11-b$/CRC11-b$intensity.rds','CRC12-a$/CRC12-a$intensity.rds',
         'CRC12-b$/CRC12-b$intensity.rds']

paths_rois = ['CRC1-4_a$/CRC1-4_a$ROIs.rds','CRC1-4_b$/CRC1-4_b$ROIs.rds','CRC3-a$/CRC3-a$ROIs.rds', 'CRC3-b$/CRC3-b$ROIs.rds',
             'CRC4-a$/CRC4-a$ROIs.rds','CRC12-b$/CRC12-b$ROIs.rds','CRC5-a$/CRC5-a$ROIs.rds','CRC5-b$/CRC5-b$ROIs.rds',
             'CRC6-a$/CRC6-a$ROIs.rds', 'CRC6-b$/CRC6-b$ROIs.rds','CRC7-a$/CRC7-a$ROIs.rds','CRC7-b$/CRC7-b$ROIs.rds',
             'CRC8-3_b$/CRC8-3_b$ROIs.rds','CRC9-a$/CRC9-a$ROIs.rds','CRC9-b$/CRC9-b$ROIs.rds','CRC10-a$/CRC10-a$ROIs.rds',
             'CRC10-b$/CRC10-b$ROIs.rds', 'CRC11-a$/CRC11-a$ROIs.rds','CRC11-b$/CRC11-b$ROIs.rds','CRC12-a$/CRC12-a$ROIs.rds'
              ,'CRC12-b$/CRC12-b$ROIs.rds']

training = dataRead(paths_intensities)
labels = dataRead(paths_rois)

In [4]:
training_dataset1 = pd.concat(training, ignore_index = True)
labels_dataset1 = pd.concat(labels, ignore_index = True)
labels_dataset1.columns = ['ROIs']

#### Segmentación de los datos

In [5]:
merged = labels_dataset1.merge(training_dataset1, right_index = True, left_index = True)

En esta parte se extraen las dos etiquetas de las que se quiere comprobar la variabilidad, es necesario añadir el nombre de las 5 etiquetas que no pertencen a la prueba en el siguinte bloque.

In [6]:
NLG = merged[merged['ROIs'] != 'HG']
NLG = NLG[NLG.ROIs != 'TorPI']
NLG = NLG[NLG.ROIs != 'TorHG']
NLG = NLG[NLG.ROIs != 'PI']
NLG = NLG[NLG.ROIs != 'T']

# NLG
# NLG = NLG.drop('ROIs', 1).reset_index(drop = True)

In [7]:
# NLG[NLG['ROIs']=='TorHG']

In [8]:
NLG = shuffle(NLG)

In [9]:
n_datos = int(len(NLG['ROIs'])-0.19*len(NLG['ROIs']))
test_dataset = NLG[n_datos:134114]
test_dataset.reset_index(drop = True)
training_dataset = NLG[0:(n_datos-1)]
test_dataset.reset_index(drop = True)

,ROIs,0,1,2,3,4,5,6,7,8,...,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235
0,N,420.000000,40.000000,716.750000,272.000000,200.000000,514.00,1267.695312,1456.479492,728.5,...,304.000000,1403.000000,796.000000,2733.051758,2495.304688,954.0,884.0,1826.812500,528.000000,1588.7500
1,N,200.000000,356.000000,446.000000,424.000000,364.000000,442.00,625.500000,280.000000,475.0,...,754.000000,2154.402344,432.000000,1780.960938,1588.000000,1427.5,1127.0,1425.062500,680.000000,1559.4375
2,LG,280.000000,308.000000,200.000000,396.000000,120.000000,364.00,940.312500,448.000000,446.0,...,2940.805908,1871.343750,3976.735874,5567.832224,4135.637971,1142.0,1293.0,1086.000000,764.000000,652.0000
3,LG,136.000000,457.000000,1383.191406,2888.506524,2825.253703,774.25,406.000000,388.000000,144.0,...,624.000000,1422.000000,512.000000,616.000000,1239.000000,680.0,504.0,1550.250000,696.000000,1616.8750
4,LG,471.000000,276.000000,272.000000,208.000000,868.750000,104.00,666.000000,232.000000,725.0,...,448.000000,2496.484375,1752.500000,2018.031250,400.000000,1514.5,664.0,2546.687500,1178.000000,1712.1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19353,N,2162.553738,788.437500,471.000000,256.000000,104.000000,272.00,1029.750000,693.000000,244.0,...,836.000000,1646.000000,2011.468750,1498.375000,464.000000,956.0,1440.0,810.000000,1083.000000,464.0000
19354,LG,486.500000,144.000000,458.000000,570.000000,1710.925781,732.00,2589.604351,2182.467636,296.0,...,1154.000000,5664.358113,2026.625000,2424.421875,2584.699219,1423.0,1120.0,1834.750000,2589.484375,2212.5000
19355,N,2598.212196,2448.951431,2572.003195,872.750000,328.000000,454.00,468.000000,723.000000,615.0,...,1709.562500,1806.312500,832.000000,1511.000000,1325.000000,480.0,352.0,948.000000,2055.593750,1383.0000
19356,LG,533.500000,300.000000,464.000000,778.000000,532.000000,454.00,3343.409484,3736.519702,640.0,...,2605.277344,1848.437500,584.000000,2441.234375,1441.500000,958.0,708.0,1373.500000,968.000000,922.0000
19357,LG,454.000000,232.000000,88.000000,392.000000,200.000000,176.00,256.000000,573.000000,332.0,...,416.000000,1448.062500,1279.750000,2105.203125,1412.187500,636.0,706.0,1843.972656,2422.859863,1446.1250

#### Procesado de los datos

In [10]:
labels_dataset = pd.DataFrame(training_dataset['ROIs'])
training_dataset = training_dataset.drop('ROIs', 1)
training_dataset

,0,1,2,3,4,5,6,7,8,9,...,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235
16054,713.25,578.0,679.000000,272.0000,526.000000,176.0,380.000000,693.500000,256.0,1111.000000,...,1238.000000,1360.000000,2432.828125,2235.437500,352.000000,2452.109375,3816.243015,584.000,812.000000,2895.944824
82467,519.00,212.0,653.000000,240.0000,296.000000,296.0,914.437500,456.000000,192.0,524.000000,...,1020.000000,2416.257812,876.000000,616.000000,2783.765625,1182.000000,416.000000,1552.500,3259.735352,416.000000
93792,367.00,328.0,216.000000,394.0000,884.187500,499.0,697.750000,414.000000,574.0,56.000000,...,1519.562500,694.000000,1356.875000,927.000000,1184.750000,128.000000,907.500000,1334.125,512.000000,887.500000
71479,240.00,250.0,581.000000,264.0000,232.000000,356.0,474.000000,606.000000,152.0,600.000000,...,912.000000,1434.875000,484.000000,1422.500000,568.000000,472.000000,1188.750000,1167.750,1446.125000,820.000000
35493,72.00,372.0,2195.229977,1024.1875,1698.519531,516.0,168.000000,512.000000,324.0,887.500000,...,954.000000,1626.250000,692.000000,776.000000,472.000000,336.000000,2640.505859,336.000,1413.750000,2024.757812
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6828,256.00,338.0,613.000000,440.0000,144.000000,128.0,176.000000,414.000000,96.0,2753.785912,...,2885.371826,3727.120637,1399.875000,1866.031250,2451.259766,1744.109375,2894.786407,1233.000,953.000000,3395.370594
75028,482.00,320.0,304.000000,460.0000,112.000000,288.0,4438.247222,2877.998075,372.0,1050.125000,...,1599.375000,1775.937500,1763.250000,2270.453125,2869.517090,2756.095703,980.000000,568.000,3071.347778,2404.035156
19316,152.00,288.0,966.000000,128.0000,192.000000,96.0,2150.575958,587.000000,595.0,216.000000,...,1887.750000,828.000000,860.000000,852.000000,2017.312500,2527.601562,984.000000,1234.000,916.000000,2985.361816
131848,374.00,304.0,874.375000,244.0000,280.000000,454.0,4178.060540,3906.782124,380.0,1185.625000,...,1381.500000,1656.375000,1222.000000,1540.000000,400.000000,1227.000000,1461.250000,816.000,2276.906250,1864.687500
119195,112.00,72.0,706.500000,340.0000,288.000000,442.0,1599.964844,1445.728516,661.5,570.000000,...,1824.625000,1671.625000,504.000000,1240.000000,1334.500000,1212.000000,2173.453125,760.000,1865.156250,1021.000000

In [11]:
training_dataset.reset_index(drop = True)
labels_dataset.reset_index(drop = True)

      ROIs
0        N
1        N
2        N
3       LG
4       LG
...    ...
82516   LG
82517   LG
82518    N
82519    N
82520    N

[82521 rows x 1 columns]

Si se hacen comparaciones entre otras etiquetas se han de cambiar los strings N y LG por las que sean de interes.

In [12]:
labels_dataset['Code'] = 0

i=0
for x in labels_dataset['ROIs']:
    if x == 'N': labels_dataset['Code'].array[i]=0
    if x == 'LG': labels_dataset['Code'].array[i]=1
    i = i + 1
            
labels_dataset.reset_index(drop = True)

      ROIs  Code
0        N     0
1        N     0
2        N     0
3       LG     1
4       LG     1
...    ...   ...
82516   LG     1
82517   LG     1
82518    N     0
82519    N     0
82520    N     0

[82521 rows x 2 columns]

In [13]:
dfx = np.array(training_dataset)
dfx.shape

(82521, 1236)

In [14]:
dfy = np.array(labels_dataset['Code'])
dfy.shape

(82521,)

In [15]:
scaler = MinMaxScaler(feature_range=(0,1))
scaled_dfx = scaler.fit_transform(dfx)
scaled_dfx

array([[0.04405919, 0.03978697, 0.01233249, ..., 0.01282833, 0.01715657,
        0.09172541],
       [0.03192378, 0.0143733 , 0.01185675, ..., 0.03470199, 0.07018024,
        0.01251986],
       [0.02242786, 0.02242791, 0.00386076, ..., 0.02976997, 0.01065787,
        0.02757883],
       ...,
       [0.00899613, 0.01965046, 0.01758386, ..., 0.02750864, 0.01940945,
        0.09458125],
       [0.02286517, 0.02076144, 0.01590735, ..., 0.01806807, 0.04888986,
        0.05878867],
       [0.00649721, 0.00465223, 0.01283567, ..., 0.01680331, 0.0399704 ,
        0.03184261]])

#### Caracterización del modelo predictivo

In [16]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.metrics import categorical_crossentropy

In [17]:
model = Sequential([
    Dense(units = 64, input_shape = (1236,), activation = 'relu'),
    Dense(units = 128, activation = 'relu'),
    Dense(units = 2, activation = 'softmax')

])

In [18]:
model.compile(optimizer = Adam(learning_rate = 0.01), loss = 'sparse_categorical_crossentropy', metrics = ['accuracy'])

In [19]:
model.fit(x = scaled_dfx, y = dfy,validation_split = 0.05,shuffle = True, batch_size = 250, epochs= 10, verbose =  2)

Epoch 1/10
314/314 - 3s - loss: 0.2351 - accuracy: 0.8984 - val_loss: 0.1223 - val_accuracy: 0.9469
Epoch 2/10
314/314 - 1s - loss: 0.1372 - accuracy: 0.9395 - val_loss: 0.1128 - val_accuracy: 0.9491
Epoch 3/10
314/314 - 1s - loss: 0.1156 - accuracy: 0.9482 - val_loss: 0.1026 - val_accuracy: 0.9511
Epoch 4/10
314/314 - 1s - loss: 0.1040 - accuracy: 0.9522 - val_loss: 0.0981 - val_accuracy: 0.9557
Epoch 5/10
314/314 - 1s - loss: 0.0982 - accuracy: 0.9554 - val_loss: 0.0981 - val_accuracy: 0.9574
Epoch 6/10
314/314 - 1s - loss: 0.0947 - accuracy: 0.9570 - val_loss: 0.0884 - val_accuracy: 0.9612
Epoch 7/10
314/314 - 1s - loss: 0.0856 - accuracy: 0.9612 - val_loss: 0.0850 - val_accuracy: 0.9612
Epoch 8/10
314/314 - 1s - loss: 0.0830 - accuracy: 0.9626 - val_loss: 0.0808 - val_accuracy: 0.9649
Epoch 9/10
314/314 - 1s - loss: 0.0824 - accuracy: 0.9628 - val_loss: 0.1101 - val_accuracy: 0.9513
Epoch 10/10
314/314 - 1s - loss: 0.0788 - accuracy: 0.9637 - val_loss: 0.0851 - val_accuracy: 0.9622

#### Procesado de los datos de prueba

In [20]:
ol = pd.DataFrame(test_dataset['ROIs'])

ol['Code'] = 0

i=0
for x in ol['ROIs']:
    if x == 'N': ol['Code'].array[i]=0
    if x == 'LG': ol['Code'].array[i]=1
    i = i + 1
            
labels_dataset.reset_index(drop = True)
td = test_dataset.drop('ROIs', 1)
ol.reset_index(drop = True)
td.reset_index(drop = True)

,0,1,2,3,4,5,6,7,8,9,...,1226,1227,1228,1229,1230,1231,1232,1233,1234,1235
0,420.000000,40.000000,716.750000,272.000000,200.000000,514.00,1267.695312,1456.479492,728.5,576.000000,...,304.000000,1403.000000,796.000000,2733.051758,2495.304688,954.0,884.0,1826.812500,528.000000,1588.7500
1,200.000000,356.000000,446.000000,424.000000,364.000000,442.00,625.500000,280.000000,475.0,602.000000,...,754.000000,2154.402344,432.000000,1780.960938,1588.000000,1427.5,1127.0,1425.062500,680.000000,1559.4375
2,280.000000,308.000000,200.000000,396.000000,120.000000,364.00,940.312500,448.000000,446.0,502.000000,...,2940.805908,1871.343750,3976.735874,5567.832224,4135.637971,1142.0,1293.0,1086.000000,764.000000,652.0000
3,136.000000,457.000000,1383.191406,2888.506524,2825.253703,774.25,406.000000,388.000000,144.0,966.000000,...,624.000000,1422.000000,512.000000,616.000000,1239.000000,680.0,504.0,1550.250000,696.000000,1616.8750
4,471.000000,276.000000,272.000000,208.000000,868.750000,104.00,666.000000,232.000000,725.0,160.000000,...,448.000000,2496.484375,1752.500000,2018.031250,400.000000,1514.5,664.0,2546.687500,1178.000000,1712.1250
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19353,2162.553738,788.437500,471.000000,256.000000,104.000000,272.00,1029.750000,693.000000,244.0,3202.163405,...,836.000000,1646.000000,2011.468750,1498.375000,464.000000,956.0,1440.0,810.000000,1083.000000,464.0000
19354,486.500000,144.000000,458.000000,570.000000,1710.925781,732.00,2589.604351,2182.467636,296.0,272.000000,...,1154.000000,5664.358113,2026.625000,2424.421875,2584.699219,1423.0,1120.0,1834.750000,2589.484375,2212.5000
19355,2598.212196,2448.951431,2572.003195,872.750000,328.000000,454.00,468.000000,723.000000,615.0,1211.250000,...,1709.562500,1806.312500,832.000000,1511.000000,1325.000000,480.0,352.0,948.000000,2055.593750,1383.0000
19356,533.500000,300.000000,464.000000,778.000000,532.000000,454.00,3343.409484,3736.519702,640.0,160.000000,...,2605.277344,1848.437500,584.000000,2441.234375,1441.500000,958.0,708.0,1373.500000,968.000000,922.0000
19357,454.000000,232.000000,88.000000,392.000000,200.000000,176.00,256.000000,573.000000,332.0,568.000000,...,416.000000,1448.062500,1279.750000,2105.203125,1412.187500,636.0,706.0,1843.972656,2422.859863,1446.1250

In [21]:
testx1 = np.array(td)
testy1 = np.array(ol['Code'])
testx1

array([[ 420.        ,   40.        ,  716.75      , ..., 1826.8125    ,
         528.        , 1588.75      ],
       [ 200.        ,  356.        ,  446.        , ..., 1425.0625    ,
         680.        , 1559.4375    ],
       [ 280.        ,  308.        ,  200.        , ..., 1086.        ,
         764.        ,  652.        ],
       ...,
       [2598.21219574, 2448.95143098, 2572.00319493, ...,  948.        ,
        2055.59375   , 1383.        ],
       [ 533.5       ,  300.        ,  464.        , ..., 1373.5       ,
         968.        ,  922.        ],
       [ 454.        ,  232.        ,   88.        , ..., 1843.97265625,
        2422.85986328, 1446.125     ]])

In [22]:
testy1[testy1 == 0.5]

array([], dtype=int64)

In [23]:
scaled_testx1 = scaler.fit_transform(testx1)
predictions1 = model.predict(x = scaled_testx1, batch_size = 250, verbose = 0)

In [24]:
roundpred1 = np.argmax(predictions1, axis = -1)
roundpred1

array([1, 0, 1, ..., 0, 1, 1], dtype=int64)

In [27]:
n1 = 0
n2 = 0


for x in testy1:
    if x == 0: n1 = n1 + 1
    if x == 1: n2 = n2 + 1
 

n1,n2

(6593, 12765)

In [29]:
aciertos1 = 0
aciertos2 = 0


for x, y in zip(testy1, roundpred1):
    if (x == 0) & (y == 0): aciertos1 = aciertos1 + 1
    if (x == 1) & (y == 1): aciertos2 = aciertos2 + 1



porcentaje1=(aciertos1*100)/ n1
porcentaje2 =(aciertos2*100)/ n2
# porcentaje_cancerT1 =(aciertosT1*100)/ n_cancerT_testy1

print('Porcentaje de pixeles de la categoria 1 acertados en la prueba:',round(porcentaje1, 2), '%')
print('Porcentaje de pixeles de la categoria 2 acertados en la prueba:', round(porcentaje2, 2), '%')

Porcentaje de pixeles de la categoria 1 acertados en la prueba: 90.72 %
Porcentaje de pixeles de la categoria 2 acertados en la prueba: 96.82 %